body {
    font-style: oblique;
    background-color: darkgray;
}
form {
    background-color: aqua;
    padding: 10px;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.para {
    display: flex;
    justify-content: safe;
    flex-direction: row;
}
.column {
    width: 400px;
    height: 200px;
}
img {
    float: rig;
}