body {
    font-style: oblique;
    background-color: darkgray;
}
form {
    background-color: aqua;
    padding: 10px;
}
.menu {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}